<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="bookName">Enter bookName:</label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">bookName Error</div>
    <br/>
    <label for="author">Enter author:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>

    <br/>
    <label for="BookYear">Enter year:</label>
    <input type="text" th:field="*{bookYear}" id="BookYear"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}">bookYear Error</div>

    <br/>
    <input type="submit" value="Create!">
    <a href="/books" class="button-back">Back to Books</a>
</form>
</body>
</html>
