body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0 0 10px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.27);
}

a:hover {
    text-decoration: underline;
}

.button-container {
    margin-top: 20px;
}

.button-container a, .button-container form {
    display: inline-block;
    margin-right: 10px;
}

.button-container form input[type="submit"],
.button-container button {
    padding: 10px 20px;
    background-color: #383838;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container form input[type="submit"]:hover,
.button-container button:hover {
    background-color: #151515;
}